* {
  box-sizing: border-box;
}

.wrap {
  border: 1px solid;
  overflow : auto;
  position: relative;

  width: 100%;
  height: 100%;
}

.left {
  width: 200px;
  float: left;
  color: #ebeef3;
  padding: 20px 30px;
}

.left:after {
  content: '';
  position: absolute;
  width: 200px;
  background: #5f6673;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.middle {
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px 30px;
  color: #6d7072;
}

.middle:after {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 200px;
  right: 200px;
  z-index: -1;
  background: #fff;
}

.right {
  width: 200px;
  float: right;
  color: #ebeef3;
   padding: 20px 30px;
}

.right:before {
  content:'';
  position: absolute;
  width: 200px;
  background-color: #42454e;
  top:0;
  right:0;
  bottom:0;
  z-index: -1;
}
