body
{
	max-width : 100%;
	background-color : #336666;
	color : white;
	font-family : Arial;
	overflow-x : hidden;
}
.logo
{
	background-color: #2C3E50;
	height: 60px;
	width: 100%;
	position : absolute;
	align-content : center;	
	top : 0;
	left : 0;
}
input
{
	font-size : 15px;
	width : 35%;
	height : 45px;
	padding : 1.5px;
	border : auto;
}
a
{
	font-weight : bold;
	color : white;
}
button
{
	background-color : #3366FF ;
	color : white;
	font-weight : bold;
	font-size : 20px;
	padding : 10px;
	width : 35.5%;
	height : 50px;
	border : 0;
	cursor : pointer;
}